@using Gaz.Models;
@model SidebarModel
@{
    Layout = "_Layout";
}

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">
        @await Html.PartialAsync("SidebarPartial", Model)
        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">
                <!-- Begin Page Content -->
                <div class="container-fluid">
                    <div class="card shadow mb-4">
                        <div class="card-body">
                            <div class="table-responsive">
                                <form class="user" asp-area="" asp-controller="HR"
                                      asp-action="AddUsers" method="post">
                                    <label for="fio">ФИО:</label>
                                    <input type="text" id="fio" name="User.Fio" required><br><br>
                                    <label for="serviceNumber">Номер службы:</label>
                                    <input type="text" id="serviceNumber" name="User.ServiceNumber"><br><br>
                                    <label for="division">Подразделение:</label>
                                    <input type="text" id="division" name="User.Division"><br><br>
                                    <label for="position">Должность:</label>
                                    <input type="text" id="position" name="User.Position"><br><br>

                                    <select id="type" name="TypeId">      
                                        <option value=""></option>
                                        @foreach (var type in Model.Types)
                                        {
                                            <option value="@type.Id">@type.TypeName</option>
                                        }
                                    </select><br><br>

                                    <!-- Выбор нескольких ролей из списка -->

                                    <label for="email">Email:</label>
                                    <input type="email" id="email" name="User.Email"><br><br>

                                    <input type="submit" value="Добавить">
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>
    @await Html.PartialAsync("JsTablePartial")
</body>