@{
	Layout = null;
}
@await Html.PartialAsync("CssPartial")
@await Html.PartialAsync("MetatagsPartial")

<h2 class="major">Добавление пользователя</h2>
<form method="post" action="#">
	<div class="fields">
		<div class="field">
			<label for="name">ФИО</label>
			<input type="text" name="text" id="name" />
		</div>
		<div class="field half">
			<label for="name">Табельный номер</label>
			<input type="text" name="name" id="name" />
		</div>
		<div class="field half">
			<label for="name">Подраздение</label>
			<input type="text" name="name" id="name" />
		</div>
		<div class="field">
			<label for="name">Должность</label>
			<input type="text" name="text" id="name" />
		</div><div class="field">
			<label for="demo-category">Один из трёх</label>
			<select name="demo-category" id="demo-category">
				<option value="">-</option>
				<option value="1">Руководитель</option>
				<option value="2">ИТР (специалист)</option>
				<option value="3">Сотрудник рабочей профессии</option>
			</select>
		</div>
		<div class="field half">
			<input type="checkbox" name="demo-copy">
			<label for="demo-copy">Сотрудник</label>
		</div>
		<div class="field half">
			<input type="checkbox" name="demo-human">
			<label for="demo-human">Руководитель</label>
		</div>
		<div class="field half">
			<input type="checkbox" id="demo-copy">
			<label for="demo-copy">Директор</label>
		</div>
		<div class="field half">
			<input type="checkbox" id="demo-human">
			<label for="demo-human">Админ</label>
		</div>
	</div>
	<ul class="actions">
		<li><input type="submit" value="Добавить" /></li>
		<li><input type="reset" value="Стереть" /></li>
	</ul>
</form>