<!-- Header -->
<header id="header">
	<nav>
		<ul>
			<li><a asp-controller="Home" asp-action="List">Список</a></li>
			<li><a asp-controller="Home" asp-action="Add">Добавление</a></li>
			<li><a asp-controller="Home" asp-action="Edit">Редактирование</a></li>
			<li><a asp-controller="Home" asp-action="Delete">Удаление</a></li>
		</ul>
	</nav>

</header>