<!-- Header -->
<header id="header">
	<div class="logo">
	</div>
	<div class="content">
		<div class="inner">
			<h1>Система оценки деятельности</h1>
			<p>
				Возможность создание новостной ленты отделов
			</p>
		</div>
	</div>
	
	<nav>
		<ul>
			<li><a asp-controller="Home" asp-action="Marks">Перейти к оценкам</a></li>
			<li><a asp-controller="Home" asp-action="HRdepartment">Отдел кадров</a></li>
		</ul>
	</nav>

</header>
