<!-- Banner -->
<section id="banner">
	<div class="inner">
		<h2>Тестовая версия</h2>
		<p>
			В данной версии<br />
			нет привязки к базе данных<br />
			Перейти к <a href="http://html5up.net">оценке</a>.
		</p>
		<ul class="actions special">
			<li><a href="#" class="button primary">Activate</a></li>
		</ul>
	</div>
	<a href="#one" class="more scrolly">Learn More</a>
</section>