@{
    Layout = null;
}

@await Html.PartialAsync("TableCssPartial")

<table class="iksweb">
	<tbody>
		<tr>
			<td rowspan="3">ОЦЕНИВАЕМЫЕ</td>
			<td rowspan="3">ПОЯСНЕНИЯ</td>
			<td colspan="12">НАПРАВЛЕНИЕ ДЕЯТЕЛЬНОСТИ</td>
			<td colspan="2" rowspan="2">БАЛЛЫ</td>
		</tr>
		<tr>
			<td colspan="6">Производственное</td>
			<td colspan="2">Дополнительное производственное</td>
			<td colspan="3">Социально-культурное</td>
			<td>Доп. социокульт</td>
		</tr>
		<tr>
			<td>Дисциплина организации труда и качествовыполняемых работ</td>
			<td>Заполнение формы идентификации опасности в системе "СТОП-РИСК"</td>
			<td>Рационализаторская деятельность</td>
			<td>Внедрение предложений по системе "Бережливое производство"</td>
			<td>Оценка руководителя (корректирующих коэффициент)</td>
			<td>Положительный опыт, оценка филиала</td>
			<td>Наставничество</td>
			<td>Участие в конкурсе профмастерства, Семинарах в качестве докладчика</td>
			<td>Экология (участие в экологических акциях)</td>
			<td>Спорт (участиев спортивных мероприятиях)</td>
			<td>Культурно-массовые мероприятия</td>
			<td>Благотворительные акции</td>
			<td>За текущий месяц</td>
			<td>Суммарный годовой (январь-декабрь)</td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
	</tbody>
</table>